@font-face {
    font-family: 'SFUFuturaBold';
    src: url('fonts/SFUFuturaBold.eot');
    src: url('fonts/SFUFuturaBold.eot') format('embedded-opentype'),
         url('fonts/SFUFuturaBold.woff2') format('woff2'),
         url('fonts/SFUFuturaBold.woff') format('woff'),
         url('fonts/SFUFuturaBold.ttf') format('truetype'),
         url('fonts/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
}
