@font-face {
    font-family: 'SFUEurostileRegular';
    src: url('fonts/SFUEurostileRegular.eot');
    src: url('fonts/SFUEurostileRegular.woff') format('woff'), 
    url('fonts/SFUEurostileRegular.ttf') format('truetype'), 
    url('fonts/SFUEurostileRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}