@font-face {
    font-family: 'Saira SemiCondensed';
    src: url('SairaSemiCondensed-SemiBold.woff2') format('woff2'),
        url('SairaSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

