@font-face {
    font-family: 'SFUGillSansRegular';
    src: url('fonts/SFUGillSansRegular.eot');
    src: url('fonts/SFUGillSansRegular.eot') format('embedded-opentype'),
         url('fonts/SFUGillSansRegular.woff2') format('woff2'),
         url('fonts/SFUGillSansRegular.woff') format('woff'),
         url('fonts/SFUGillSansRegular.ttf') format('truetype'),
         url('fonts/SFUGillSansRegular.svg#SFUGillSansRegular') format('svg');
}
