@font-face {
	font-family: 'SFUMatrixBold';
	src: url('fonts/SFUMatrixBold.eot');
	src: url('fonts/SFUMatrixBold.woff') format('woff'), url('fonts/SFUMatrixBold.ttf') format('truetype'), url('fonts/SFUMatrixBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

