
@font-face {
	font-family: 'SFUMatrixRegular';
	src: url('fonts/SFUMatrixRegular.eot');
	src: url('fonts/SFUMatrixRegular.woff') format('woff'), url('fonts/SFUMatrixRegular.ttf') format('truetype'), url('fonts/SFUMatrixRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

